<h1>Welcome to this Great Travel Site</h1>

<h2>This is my very awesome travel site.</h2>

<h3><%= @homeland %></h3>

<ul>
<% @countries.each do |country| %>
	<li><%= country %></li>
<% end %>
</ul>

<% @images.each do |photo| %>
  <%= image_tag photo %>
<% end %>

<%= image_tag "plane.png", alt: "plane", width: 300 %>
<%= image_tag "brazil.jpg", alt: "Copacabana", id: "brazil", class: "country", width: 300 %>
<%= image_tag "thailand.jpg", alt: "Thailand", id: "thailand", class: "country", width: 300 %>
<%= image_tag "venice.jpg", alt: "Venice", id: "italy", class: "country", width: 300 %>

