<!DOCTYPE html>
<html lang="en">

<head>

  <title>TravelApp</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" %>

  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lobster"%>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Noto+Sans"%>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>

  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key'] %>">
  </script>

  <%= csrf_meta_tags %>

</head>

<body>

<!--   renders nav bar from partial in layouts -->

<%= render 'layouts/nav' %>

	<div class ='container'>
		<%= yield %>
	</div>

</body>

</html>
